.DS_Store
node_modules/
dist/
npm-debug.log
.idea

.settings
.project
.target
.classpath
**/.settings
**/.classpath
**/.eclipse
**/target/
target/
bin/
.idea/
*.iml



.DS_Store
/node_modules
target/*
appenv
# Package Files #
*.jar
*.war
*.ear
/.settings
.classpath
.project
.eclipse
/target
.DS_Store
log/*
log
*.log
