@import "../global/base";
body{
    padding-bottom: 220px/2/$rem;
    background: url('https://resource.sa-green.cn/image/jpg/Group-89.jpg') repeat-y 0 0 #000;
    background-size:100% auto;
}
.container{
    background: url('https://resource.sa-green.cn/image/jpg/Group%206.png') no-repeat 0 0;
    background-size:230px/2/$rem 230px/2/$rem;
    padding-top: 29px/2/$rem;
}
.logo{
    display: block;
    width: 269px/2/$rem;
    height: 50px/2/$rem;
    margin: 0 auto 30px/2/$rem;
}
