@import "../global/base";
body,
html {
    background: #fff;
}
.main{
    padding-bottom: 150px/2/$rem;
}
.orderdetail_new{
    .order_top{
        text-align: center;
        .order_top_succ_img{
            img{
                width: 132px/$rem;
                margin-top: 30px/$rem;
            }
        }
        .order_price{
            font-size: 24px/$rem;
            color: #333;
            margin-bottom: 15px/$rem;
            span{
                font-size: 12px/$rem;
                color: #151515;
            }
        }
        .order_coupon{
            font-size: 12px/$rem;
            .order_coupon_title_1{
                color: #151515;
                img{
                    width: 17px/$rem;
                    margin: 0;
                    position: absolute;
                    margin-top: -2px/$rem;
                }
                span{
                    margin-left: 20px/$rem;
                }
                margin-bottom: 5px/$rem;
            }
            .order_coupon_title_2{
                color: #999;
            }
        }
    }
    .order_detail_list{
        padding: 15px/$rem;
        .order_detail_title{
            margin-top: 20px/$rem;
            width: 100%;
            height: 1px;
            background: #E4E4E4;
            position: relative;
            .od_d{
                position: absolute;
                background: #fff;
                margin-top: -7px/$rem;
                padding-left: 10px/$rem;
                padding-right: 10px/$rem;
                left: 50%;
                margin-left: -42px/$rem;
            }
        }
        .order_list_de{
            display: flex;
            align-items: center;
            position: relative;
            justify-content: space-between;
            padding-bottom: 15px/$rem;
            padding-top: 15px/$rem;
            .order_list_l{
                display: flex;
                flex:0 0 auto;
                align-items: center;
                span{
                    font-size: 12px;
                    color: #999;
                }
                img{
                    width: 37px/$rem;
                    margin: 0;
                    margin-right: 10px/$rem;
                }
            }
            .order_list_r{
                display: flex;
                flex:0 0 100px/$rem;
                justify-content: space-between;
                font-size: 12px/$rem;
                color: #999;

            }
        }
        .order_list_de:before{
            content: '';
           pointer-events:none;
           position:absolute;
           left:-50%;
           top: -50%;
           width:200%;
           height: 200%;
           transform:scale(.5);
           pointer-events:none;
           -webkit-box-sizing:border-box;
           border-bottom: 1px solid #E4E4E4;
           margin-top: -1px;
        }
    }
    .address_price{
        margin: 0 15px/$rem 15px/$rem 15px/$rem;
        position: relative;
        .address_price_1{
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px/$rem;
            font-size: 12px/$rem;
            color: #999;
            em{
                background: #FC5C5C;
                border-radius: 1px;
                color: #fff;
                font-size: 12px/$rem;
                padding: 2px/$rem 3px/$rem;
                margin-right: 2px;
            }
        }
        .address_price_2{
            font-size: 12px/$rem;
            color: #999;
            span{
                background: #3B9C05;
                border-radius: 1px;
                color: #fff;
                font-size: 12px/$rem;
                padding: 2px/$rem 3px/$rem;
                margin-right: 2px;
            }
        }
    }
    .address_price:before{
        content: '';
       pointer-events:none;
       position:absolute;
       left:-50%;
       top: -50%;
       width:200%;
       height: 200%;
       transform:scale(.5);
       pointer-events:none;
       -webkit-box-sizing:border-box;
       border-bottom: 1px solid #E4E4E4;
       margin-top: -1px;
    }
    .real_price{
        font-size: 12px/$rem;
        color: #999;
        text-align: right;
        padding-right: 15px/$rem;
        span{
            color: #2a2a2a;
        }
    }
    .look_order{
        width: 90px/$rem;
        height: 24px/$rem;
        line-height: 24px/$rem;
        border:1px solid #ccc;
        border-radius: 4px/$rem;
        text-align: center;
        font-size: 12px/$rem;
        color: #999;
        margin: 0 auto;
        margin-top: 30px/$rem;
        margin-bottom: 30px/$rem;
    }
    .float_red{
        position: fixed;
        right: 0;
        top: 0;
        margin-top: 250px/$rem;
        margin-right: 30px/$rem;
        width: 48px/$rem;
        img{
            width: 100%;
        }
    }
    .red_toast{
        .red_bg{
            position: fixed;
            top: 0;
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,0.7);
        }
        .content{
            position: absolute;
            width: 542px/2/$rem;
            top: 30%;
            left: 50%;
            transform: translate(-50%,-30%);
            img{
                display: block;
                width: 542px/2/$rem;
                height: 562px/2/$rem;
                margin: 0 0 20px/2/$rem 0;
            }
            .close_word{
                text-align: center;
                font-size: 24px/2/$rem;
                color: #999;
            }
        }
        .close{
            position: absolute;
            right: 50px/2/$rem;
            top : 50px/2/$rem;
            color: #ccc;
            i{
                display: inline-block;
                border:2px solid #ccc;
                border-radius: 100%;
                padding: 5px/$rem;
            }

        }
    }
    .animate_red
        {
        position:relative;
        animation:mymove 1.5s infinite;
        -webkit-animation:mymove 1.5s infinite; /*Safari and Chrome*/
        }

        @keyframes mymove
        {
            from {
              transform: scale3d(1, 1, 1);
            }

            10%, 20% {
              transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            }

            30%, 50%, 70%, 90% {
              transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            }

            40%, 60%, 80% {
              transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            }

            to {
              transform: scale3d(1, 1, 1);
            }
        }

}





.order_succ_top{
    display: flex;
    background: #fff;
    padding: 15px/$rem 20px/$rem;
    .order_icon{
        i{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px/$rem;
            height: 40px/$rem;
            border-radius: 100%;
            background: #3b9c05;
            color: #fff;
            text-align: center;
            line-height: 40px/$rem;
            font-size: 30px/$rem;
            margin-right: 10px/$rem;
        }
    }
    .order_top_r{
        align-items: center;
        .order_title_1{
            color: #323232;
            font-size: 16px/$rem;
            margin-bottom: 10px/$rem;
        }
        .order_title_2{
            font-size: 13px/$rem;
            color: #a1a1a1;
            span{
                color: #3b9c05;
                margin-left: 10px/$rem;
            }
        }
    }
}

.order_top_b{
    background: #fff;
    position: relative;
    text-align: center;
    overflow: hidden;
    .title{
        width: 100%;
        text-align: center;
        margin-bottom: 20px/2/$rem;
        p{
            font-size: 28px/2/$rem;
            color: #09a58d;
            line-height: 28px/2/$rem;
            margin-bottom: 12px/2/$rem;
        }
        span{
            font-size: 24px/2/$rem;
            color: #999999;
            line-height: 24px/2/$rem;
        }

    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px/2/$rem;
        height: 60px/2/$rem;
        font-size: 22px/2/$rem;
        background: #f9a0c2;
        color: #fff;
        border-radius: 6px/2/$rem;
        margin: 0 auto;
        line-height: 60px/2/$rem;
        div{
            margin-left: 6px/2/$rem;
        }
    }



}
.order_succ_redpack_box{
    height: 90px/2/$rem;
    background: #fff;
    display: flex;
    padding: 0 30px/2/$rem;
    align-items: center;
    justify-content: space-between;
    img{
        display: block;
        width: 44px/2/$rem;
        height: 52px/2/$rem;
        margin-right: 12px/2/$rem;
    }
    p{
        font-size: 30px/2/$rem;
        color: #333333;
        flex-grow: 1;
        span{
            color: #00261D;
        }
    }
    .btn{
        width: 130px/2/$rem;
        height: 68px/2/$rem;
        text-align: center;
        line-height: 68px/2/$rem;
        background: #E85540;
        border-radius: 8px/2/$rem;
        font-size: 28px/2/$rem;
        color: #FFFFFF;
    }
}

.order_succ_redpack{
    background: #fff;
    margin-top: 10px/$rem;
    text-align: center;
    padding-top: 25px/$rem;
    padding-bottom: 25px/$rem;
    .order_img{
        width: 180px/$rem;
    }
    .order_b_title_1{
        font-size: 15px/$rem;
        color: #e85540;
        margin-top: 15px/$rem;
    }
    .order_b_title_2{
        font-size: 15px/$rem;
        color: #666;
        margin-top: 8px/$rem;
        margin-bottom: 15px/$rem;
    }
    .order_b_btn{
        width: 270px/$rem;
        height: 44px/$rem;
        color: #fff;
        background: #e85540;
        border-radius: 4px/$rem;
        margin:0 auto;
        text-align: center;
        line-height: 44px/$rem;
    }
}
#triangle-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 6px solid #fff;
    border-bottom: 5px solid transparent;
}
.shareBtn{
    position: fixed;
    width: 670px/2/$rem;
    height: 90px/2/$rem;
    background: #269a51;
    left: 50%;
    bottom: 58px/2/$rem;
    transform: translateX(-50%);
    border-radius: 4px/2/$rem;
    text-align: center;
    color: #fff;;
    line-height: 90px/2/$rem;
    font-size: 30px/2/$rem;
}
