@import "../global/base";

body {
    background: #000;
}

.pageHeader {
    height: 110px/2/$rem;
    background: url('https://resource.sa-green.cn/image/jpg/%E9%A1%B6%E9%83%A8.png');
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: inherit;
    padding-left: 20px/2/$rem;
    align-items: center;
    .saleBox{
        width: 160px/2/$rem;
        height: 178px/2/$rem;
        position: relative;
        z-index: 999;
        margin-left: 10px/2/$rem;
        margin-right: 20px/2/$rem;
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .titleBox{
        h3{
            font-size: 28px/2/$rem;
            line-height: 28px/2/$rem;
            color: #FFFFFF;
            font-weight: 400;
        }
        p{
            font-size: 24px/2/$rem;
            line-height: 24px/2/$rem;
            color: #AEAEAE;
        }
    }
    .myBox {
        position: absolute;
        right: 27px/2/$rem;
        top: 23px/2/$rem;
        height: 56px/2/$rem;
        width: 116px/2/$rem;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 20px/2/$rem;
        background: #fff;
        background-size: 100% 100%;
        border-radius: 28px/2/$rem;
        p {
            color: $sagreen;
            font-size: 20px/2/$rem;
            font-weight: 300;
        }

        span {
            font-size: 27px/2/$rem;
            margin-right: 8px/2/$rem;
            margin-left: 23px/2/$rem;
            color: $sagreen;
        }

        .tipsBox {
            position: absolute;
            white-space: nowrap;
            height: 40px/2/$rem;
            line-height: 40px/2/$rem;
            background: #cd2222;
            text-align: center;
            color: #fff;
            font-size: 20px/2/$rem;
            padding: 0 10px/2/$rem;
            border-radius: 4px/2/$rem;
            left: 0;
            top: 0;
            transform: translate(-94%,-50%);

            span {
                position: absolute;
                right: -8px/2/$rem;
                top: 27px/2/$rem;
                display: block;
                width: 0;
                height: 0;
                border-top: 10px/2/$rem solid transparent;
                border-bottom: 10px/2/$rem solid transparent;
                border-right: 10px/2/$rem solid #cd2222;
            }
        }
    }
}

.iceWorld {
    padding: 20px/2/$rem 20px/2/$rem 0 20px/2/$rem;
    background: #000;
    position: relative;
}

.iceHeader {
    height: 140px/2/$rem;
    background: url('https://resource.sa-green.cn/images/base/bing%E9%A1%B6%E9%83%A8.png');
    background-size: 100%;
}

.iceFooter {
    height: 220px/2/$rem;
    background: url('https://resource.sa-green.cn/images/base/bing%E5%BA%95%E9%83%A8.png');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.iceMain {
    width: 100%;
    background: url('https://resource.sa-green.cn/images/base/%E6%97%A0%E9%99%90%E5%BB%B6%E4%BC%B8BG.jpg');
    background-size: 100% 1px;
    background-repeat: repeat-y;

    .iceColumn {
        padding-bottom: 70px/2/$rem;
        background: url('https://resource.sa-green.cn/images/base/%E6%8A%BD%E5%B1%89.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100% 178px/2/$rem;
        position: relative;

        .title {
            position: absolute;
            top: -30px/2/$rem;
            left: 53px/2/$rem;
            height: 30px/2/$rem;
            width: 74px/2/$rem;
            background: #7FABC1;
            border-radius: 0 15px/2/$rem 15px/2/$rem 0;
            font-size: 20px/2/$rem;
            color: #fff;
            line-height: 30px/2/$rem;
            font-weight: 300;
            padding-left: 8px/2/$rem;
        }

        .skuList {
            // margin: 0 50px/2/$rem;
            display: flex;
            // justify-content: space-between;
            justify-content: space-around;
            flex-wrap: wrap;

            .item {
                width: 230px/2/$rem;
                margin-bottom: 20px/2/$rem;
                margin-top: 20px/2/$rem;
                margin-left: 10px/2/$rem;
                margin-right: 10px/2/$rem;

                h3 {
                    font-size: 26px/2/$rem;
                    color: #305A6E;
                    line-height: 26px/2/$rem;
                    margin-bottom: 12px/2/$rem;
                    text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: hidden;
                    text-align: left;
                }
                .tagBox{
                    display: flex;
                    height: 26px/2/$rem;
                    div{
                        height: 26px/2/$rem;
                        border-radius: 6px/2/$rem;
                        padding: 0 4px/2/$rem;
                        line-height: 26px/2/$rem;
                        font-size: 20px/2/$rem;
                        background: #FF6723;
                        color: #fff;
                    }
                    .hot{
                        background: #FF6723;
                        color: #fff;
                    }
                }
                p {
                    font-size: 20px/2/$rem;
                    color: #7E9AA8;
                    line-height: 20px/2/$rem;
                    margin-bottom: 18px/2/$rem;
                    font-weight: 300;
                    text-align: left;
                    text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: hidden;
                }

                .skuPic {
                    width: 180px/2/$rem;
                    height: 180px/2/$rem;
                    margin: 0 auto 13px/2/$rem;
                    position: relative;
                    img{
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }

                .itemBottom {
                    height: 48px/2/$rem;
                    margin: 0 10px/2/$rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .price {
                        font-size: 26px/2/$rem;
                        color: #305A6E;
                        font-weight: 500;
                    }
                    .outOfStock{
                        width:72px/2/$rem;
                        height: 36px/2/$rem;
                        line-height: 36px/2/$rem;
                        background: #f50826;
                        border: 1px solid #b4cbd3;
                        border-radius: 20px/2/$rem;
                        color: #fff;
                        text-align: center;
                        font-size: 24px/2/$rem;
                    }
                    .artPointBox {
                        display: flex;
                        align-items: center;
                        background: #ADC4CF;
                        border-radius: 22px/2/$rem;
                        position: relative;
                        .productCount {
                            display: inline-block;
                            width: 32px/2/$rem;
                            font-size: 24px/2/$rem;
                            color: #305A6E;
                            text-align: center;
                        }
                        .jianBox{
                            width: 44px/2/$rem;
                            height: 44px/2/$rem;
                            border-radius: 50%;
                            background: #1AAD19;
                            text-align: center;
                            line-height: 42px/2/$rem;
                        }
                        .icon-ice-jian {
                            color: #fff;
                            font-size: 34px/2/$rem;
                            background: #1AAD19;
                            overflow: hidden;
                            font-weight: 300;
                            border-radius: 50%;
                        }
                        .addBox{
                            width: 44px/2/$rem;
                            height: 44px/2/$rem;
                            border-radius: 50%;
                            background: #1AAD19;
                            text-align: center;
                            line-height: 42px/2/$rem;
                        }
                        .icon-ice-add {
                            color: #fff;
                            font-size: 34px/2/$rem;
                            background: #1AAD19;
                            border-radius: 50%;
                            overflow: hidden;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

.cartBarBox {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px/2/$rem;
    z-index: 2000;
    display: flex;
    background: rgba(31, 30, 32, 0.95);
    .tipsBar{
        height: 50px/2/$rem;
        width: 100%;
        position: absolute;
        left: 0;
        top: -50px/2/$rem;
        background: rgba(41, 41, 43, 0.9);
        p{
            text-align: center;
            line-height: 50px/2/$rem;
            font-size: 22px/2/$rem;
            color: #D2AF5C;
            font-weight: 300;
        }
    }
    .iconBox {
        position: relative;
        width: 138px/2/$rem;

        .totalCountBox {
            width: 42px/2/$rem;
            height: 28px/2/$rem;
            background: #C52626;
            color: #fff;
            font-size: 18px/2/$rem;
            text-align: center;
            line-height: 30px/2/$rem;
            border-radius: 14px/2/$rem;
            position: absolute;
            right: 4px/2/$rem;
            top: -14px/2/$rem;
            z-index: 3;

            p {
                position: relative;
                z-index: 10;
            }
        }

        .tops {
            transform: translateY(-6px);
            transition: transform 0.2s;
        }
    }

    .footerText {
        flex-grow: 1;
        text-align: left;
        display: flex;
        align-items: center;

        .totalPrice {
            font-size: 36px/2/$rem;
            color: #FFFFFF;
            line-height: 50px/2/$rem;
            font-weight: 300;
        }

        .pf {
            font-size: 18px/2/$rem;
            color: #4e4e50;
        }

        .kong {
            font-size: 28px/2/$rem;
            line-height: 40px/2/$rem;
            color: #929292;
        }
    }

    .buyBtn {
        width: 220px/2/$rem;
        height: 100px/2/$rem;
        text-align: center;
        line-height: 100px/2/$rem;
        background: #383838;
        color: #929292;
        font-size: 32px/2/$rem;
    }

    .activeBtn {
        background: #1C9B4D;
        color: #fff;
    }
}
//动画红点
.clickPointBox {
    position: fixed;
}

.clickPoint {
    background-color: #fc5c5c;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    position: fixed;
}
.mark{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
#cartListBox{
    animation-duration : .3s ;
}
.cartListBox {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 150px/2/$rem;
    .cartTop{
        display: flex;
        justify-content:space-between;
        align-items:center;
        height: 80px/2/$rem;
        background: #FBFBFB;
        color: #666666;
        font-size: 28px/2/$rem;
        .cartTitle{
            margin-left: 30px/2/$rem;
            border-left: 1px solid #58B458;
            padding-left: 10px/2/$rem;
        }
        .clearCart{
            margin-right: 30px/2/$rem;
            .icon-index-del{
                color: #B1B1B1;
                font-size: 24px/2/$rem;
                margin-right: 12px/2/$rem;
                position: relative;
                top: -2px/2/$rem;
            }
        }

    }
    .cartList {
        background: #fff;
        padding-left: 30px/2/$rem;
        max-height: 700px/2/$rem;
        overflow: scroll;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px/2/$rem;
            @include retinabb(#E7E7E7);
            box-sizing: border-box;
            position: relative;

            .productName {
                font-size: 28px/2/$rem;
                color: #111111;
                width: 408px/2/$rem;
                font-weight: 300;
            }

            .productPrice {
                flex-grow: 1;
                color: #111111;
                font-size: 30px/2/$rem;
                font-weight: 300;
            }

            .productItemRight {
                margin-right: 30px/2/$rem;
                font-size: 44px/2/$rem;

                .icon-jian {
                    color: #1C9B4D;
                }

                .skuCount {
                    display: inline-block;
                    width: 60px/2/$rem;
                    text-align: center;
                    color: #111111;
                    font-size: 32px/2/$rem;
                }

                .icon-add {
                    color: #1C9B4D;
                }
            }
        }
    }
}

#tags {
    transform-style: preserve-3d;
    width: 97px/2/$rem;
    height: 94px/2/$rem;
    position: absolute;
    left: 27px/2/$rem;
    bottom: 50px/2/$rem;
    z-index: 2;
}

#tags span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

#tags span:after,
#tags span:before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#tags span:after {
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.2s;
}

#tags span:before {
    z-index: 2;
    top: 78px/2/$rem;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.2s;
}

#tags span:nth-child(1):before {
    width: 97px/2/$rem;
    height: 54px/2/$rem;
    background-image: url('https://resource.sa-green.cn/images/base/%E5%AE%9E%E6%97%B6%E7%9B%92%E5%AD%90.png');
}

#tags span:nth-child(1):after {
    width: 99px/2/$rem;
    height: 139px/2/$rem;
    background-image: url('https://resource.sa-green.cn/images/base/%E7%86%8A%E4%B8%81%E4%B8%81%E5%AE%9A2-3.png');
}

#tags span:nth-child(2):before {
    width: 97px/2/$rem;
    height: 54px/2/$rem;
    background-image: url('https://resource.sa-green.cn/images/base/%E9%A2%84%E8%AE%A2%E7%9B%92%E5%AD%90.png');
}

#tags span:nth-child(2):after {
    width: 99px/2/$rem;
    height: 139px/2/$rem;
    background-image: url('https://resource.sa-green.cn/images/base/%E7%86%8A%E4%B8%81%E4%B8%81%E5%AE%9A2-3.png');
}

#tags span:nth-child(2) {
    transform: rotateY(180deg);
    opacity: 0;
}

#tags.active span:nth-child(1) {
    transform: rotateY(180deg);
    opacity: 0;
}

#tags.active span:nth-child(2) {
    transform: rotateY(0deg);
    opacity: 1;
}

#tags.top span:after {
    transform: translate(-50%,-6px);
}
