@import "../global/base";

html, body {
    background: #101012 !important;
    height: 100%;
}
.main{
    height: 100%;
    .main_body{
        height: 100%;
    }
    .vfClass{
        overflow: hidden;
    }
}
.am-tabs-bar:after{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('https://resource.sa-green.cn/image/jpgs/Group%202.jpg') no-repeat 0 0;
    background-size: 100%;
}

.topNone{
    top: 0px !important;
}
#imgAidy{
    display: block;
    width: 678px/2/$rem;
    margin: 10px/2/$rem 36px/2/$rem 20px/2/$rem;
}
@keyframes snow{
    0% {
        background-position: 0 0, 0 0;
    }
    100% {
        background-position: 500px 1000px, 500px 500px;
    }
}
@-webkit-keyframes snow{
    0% {
        background-position: 0 0, 0 0;
    }
    100% {
        background-position: 500px 1000px, 500px 500px;
    }
}

.SkuDetail{
    width: 600px/2/$rem;
    position: relative;
    height: 894px/2/$rem;

    .SkuDetailMain{
        background: #fff;
        width: 576px/2/$rem;
        margin: 0 auto;
        padding-bottom: 139px/2/$rem;
        height: 755px/2/$rem;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        border-radius: 6px/2/$rem 6px/2/$rem 0 0;
        .content{
            padding-top: 40px/2/$rem;
            .exIng{
                font-size: 22px/2/$rem;
                line-height: 38px/2/$rem;
                color: #333;
                padding: 0 70px/2/$rem;
                text-align: center;
                padding-bottom: 24px/2/$rem;
            }
        }
        .theW{
            padding: 40px/2/$rem 17px/2/$rem 0;
        }
        .nutritionInfoBox>div{
            display: flex;
            justify-content: space-between;
            .leftb{
                width: 189px/2/$rem;
            }
            .rightb{
                width: 189px/2/$rem;
            }
        }
        .nutritionInfoBox{
            margin-bottom: 33px/2/$rem;
            .line{
                margin-bottom: 73px/2/$rem;
            }
            .nutritionInfoItem{
                height: 80px/2/$rem;
                h3{
                    font-weight: 400;
                    font-size: 22px/2/$rem;
                    line-height: 22px/2/$rem;
                    margin-bottom: 40px/2/$rem;
                    text-align: center;
                    color: #579A2D;
                }
                p{
                    font-size: 24px/2/$rem;
                    line-height: 24px/2/$rem;
                    text-align: center;
                    color: #333333;
                    span{
                        font-size: 24px/2/$rem;
                        line-height: 24px/2/$rem;
                        color: #333333;
                    }
                }
            }
            .centerb{
                width: 196px/2/$rem;
                position: relative;
                @include retinabr(#dbdbdb);
            }
            .leftb{
                position: relative;
                @include retinabr(#dbdbdb);
            }
        }
        table{
            width: 100%;
            .tableTitle{
                th{
                    text-align: center;
                    p{
                        font-size: 22px/2/$rem;
                        line-height: 22px/2/$rem;
                        margin-bottom: 7px/2/$rem;
                        color: #589757;
                    }
                    span{
                        font-size: 4px/2/$rem;
                        color: #999999;
                        font-weight: 300;
                    }
                }
            }
            .tableContent{
                text-align: center;
                height: 92px/2/$rem;
                border-bottom: 1px solid #f5f4f4;
                th{
                    display: flex;
                    align-items: center;
                    flex-direction:column;
                    img{
                        display: block;
                        width: 40px/2/$rem;
                        height: 40px/2/$rem;
                        margin: 0 auto;
                    }
                    p{
                        font-size: 20px/2/$rem;
                        line-height: 27px/2/$rem;
                        color: #666666;
                        font-weight: 300;
                    }

                }
                td{
                    height: 84px/2/$rem;
                    p{
                        font-size: 24px/2/$rem;
                        color: #444;
                        line-height: 92px/2/$rem;
                    }
                    span{
                        font-size: 20px/2/$rem;
                        color: #999;
                    }
                }
            }
        }
        .title{
            display: block;
            width: 206px/2/$rem;
            height: 47px/2/$rem;
            margin: 0 auto;
            margin-bottom: 28px/2/$rem;
        }
        .SkuDetailFooter{
            padding-top: 25px/2/$rem;
            padding-bottom: 22px/2/$rem;
            display: flex;
            justify-content: center;
            ul{
                li{
                    list-style-type : disc;
                    font-size: 20px/2/$rem;
                    color: #888;
                    margin-bottom: 18px/2/$rem;
                }
            }
        }
    }
    .SkuDetailMain>img{
        display: block;
        width: 100%;
    }
    .SkuDetailButtonBox{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 600px/2/$rem;
        height: 139px/2/$rem;
        background: url('https://resource.sa-green.cn/image/jpg/%E5%9B%BA%E5%AE%9A.png') no-repeat;
        background-size: 100%;
        .content{
            margin: 0 36px/2/$rem;
            padding-top: 16px/2/$rem;
            height: 123px/2/$rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .leftBox{
                h3{
                    font-size: 30px/2/$rem;
                    color: #333333;
                    font-weight: 400;
                    margin-bottom: 6px/2/$rem;
                }
                p{
                    display: flex;
                    align-items: center;
                    font-size: 42px/2/$rem;
                    color: #569a2d;
                    .vipPrice{
                        font-size: 20px/2/$rem;
                        color: #D1B36D;
                        padding: 2px/2/$rem 4px/2/$rem;
                        margin-left: 12px/2/$rem;
                        line-height: 30px/2/$rem;
                        img{
                            width: 16px/2/$rem;
                            height: 16px/2/$rem;
                        }
                        background-image: linear-gradient(-180deg, #3a3a3a 0%, #1E1E1E 100%);
                        border-radius: 4px/2/$rem;
                    }
                }
            }
            .rightBox{
                .addBtn{
                    height: 62px/2/$rem;
                    width: 180px/2/$rem;
                    text-align: center;
                    border-radius: 6px/2/$rem;
                    font-size: 26px/2/$rem;
                    line-height: 62px/2/$rem;
                    color: #fff;
                    background: #399c05;
                }
                .productItemRight{
                    .productCount{
                        display: inline-block;
                        width: 50px/2/$rem;
                        text-align: center;
                        font-size: 32px/2/$rem;
                        color: #000;
                    }
                    .icon-jian{
                        color: #1C9B4D;
                        font-size: 44px/2/$rem;
                    }
                    .icon-add{
                        color: #1C9B4D;
                        font-size: 44px/2/$rem;
                    }
                }
            }
        }
    }
}

#snowMask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: url('https://resource.sa-green.cn/image/jpg/snow1.png'),url('https://resource.sa-green.cn/image/jpg/snow2.png');
    pointer-events: none;
    -webkit-animation: snow 15s linear infinite;
    animation: snow 15s linear infinite;
}

.addressBar {
    // background: url('https://resource.sa-green.cn/image/jpg/11%E9%A1%B6%E9%80%9A.jpg');
    background: url('https://resource.sa-green.cn/imgaes/base/%E9%A1%B6%E9%83%A8%E5%9B%BE%E7%89%87.png');
    background-size: 100% 100%;
    color: #fff;
    padding: 27px/2/$rem 0 25px/2/$rem 29px/2/$rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .localtionAddressTop{
        display: flex;
        margin-bottom: 10px/2/$rem;
        .icon-index-position{
            font-size: 29px/2/$rem;
            margin-right: 10px/2/$rem;
        }
        .icon-index-dow{
            font-size: 12px/2/$rem;
            margin-left: 10px/2/$rem;
            position: relative;
            top: 4px/2/$rem;
            transform: scale(0.6);
        }
        p{
            font-size: 28px/2/$rem;
            font-weight: 300;
            max-width: 420px/2/$rem;
            text-overflow: ellipsis;
            text-align: left;
            white-space:nowrap;
            overflow: hidden;
        }
    }
    .localtionAddressBottom{
        padding-left: 33px/2/$rem;
        text-align: left;
        font-size: 20px/2/$rem;
        color: #676767;
    }
    .myBoxMember{
        margin-right: 27px/2/$rem;
        height: 56px/2/$rem;
        width: 116px/2/$rem;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 20px/2/$rem;
        background: url('https://resource.sa-green.cn/images/base/116-56%202.png');
        background-size: 100% 100%;
        position: relative;
        border: 1px solid #E3AF4F;
        border-radius: 56px/2/$rem;
        span{
            font-size: 27px/2/$rem;
            margin-right: 8px/2/$rem;
            margin-left: 23px/2/$rem;
            color: #E3AF4F;
        }
        p{
            color: #E3AF4F;
        }
        .vipIconBox{
            width: 28px/2/$rem;
            height: 28px/2/$rem;
            background: #000;
            position: absolute;
            border: 1px solid #E3AF4F;
            border-radius: 50%;
            top: -8px/2/$rem;
            left: -12px/2/$rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                display: block;
                width: 14px/2/$rem;
                height: 14px/2/$rem;
            }
        }
        .tipsBox{
            position: absolute;
            white-space:nowrap;
            height: 40px/2/$rem;
            line-height: 40px/2/$rem;
            background: #cd2222;
            text-align: center;
            color: #fff;
            font-size: 20px/2/$rem;
            padding: 0 10px/2/$rem;
            border-radius: 4px/2/$rem;
            left: 0;
            top: 0;
            transform: translate(-94%,-50%);
            span{
                position: absolute;
                right: -8px/2/$rem;
                top: 27px/2/$rem;
                display: block;
                width:0;
                height:0;
                border-top:10px/2/$rem solid transparent;
                border-bottom:10px/2/$rem solid transparent;
                border-right:10px/2/$rem solid #cd2222;
            }
        }
    }
    .myBox{
        margin-right: 27px/2/$rem;
        height: 56px/2/$rem;
        width: 116px/2/$rem;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 20px/2/$rem;
        background: url('https://resource.sa-green.cn/images/base/116-56%202.png');
        background-size: 100% 100%;
        position: relative;
        border: 1px solid #279045;
        border-radius: 56px/2/$rem;
        span{
            font-size: 27px/2/$rem;
            margin-right: 8px/2/$rem;
            margin-left: 23px/2/$rem;
            color: #2DAB53;
        }
        .tipsBox{
            position: absolute;
            white-space:nowrap;
            height: 40px/2/$rem;
            line-height: 40px/2/$rem;
            background: #cd2222;
            text-align: center;
            color: #fff;
            font-size: 20px/2/$rem;
            padding: 0 10px/2/$rem;
            border-radius: 4px/2/$rem;
            left: 0;
            top: 0;
            transform: translate(-94%,-50%);
            span{
                position: absolute;
                right: -8px/2/$rem;
                top: 27px/2/$rem;
                display: block;
                width:0;
                height:0;
                border-top:10px/2/$rem solid transparent;
                border-bottom:10px/2/$rem solid transparent;
                border-right:10px/2/$rem solid #cd2222;
            }
        }
    }
}
.noticeBox{
    display: block;
    overflow: hidden;
    background: #1B1B1F;
    img{
        display: block;
        width: 100%;
        height: 160px/2/$rem;
    }
}
.advertisementBox{
    background: #1B1B1F;
    padding-bottom: 20px/2/$rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .advertisementItem{

        border-radius: 4px/2/$rem;
        position: relative;
        overflow: hidden;
        h3{
            color: #fff;
            font-size: 26px/2/$rem;
            line-height: 26px/2/$rem;
            margin-bottom: 6px/2/$rem;
        }
        p{
            color: #fff;
            font-size: 22px/2/$rem;
            line-height: 22px/2/$rem;
            font-weight: 300;
        }
        img{
            display: block;
            width: 90px/2/$rem;
            height: 90px/2/$rem;
        }
        #leftTop{
            position: absolute;
            display: block;
            width: 72px/2/$rem;
            height: 72px/2/$rem;
            left: -20px/2/$rem;
            top: -20px/2/$rem;
        }
        .mkImg{
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 99;
            left: 0;
            top: 0;
        }
    }
    .threeRbStyle{
        width: 220px/2/$rem;
        height: 200px/2/$rem;
        margin-right: 15px/2/$rem;
        display: flex;
        justify-content:center;
        flex-direction : column;
        img{
            margin: 0 auto;
        }
        div{
            text-align: center;
            margin-bottom: 17px/2/$rem;
        }
    }
    .threeRbStyle:nth-child(3){
        margin-right: 0;
    }
    .twoRbStyle{
        width: 330px/2/$rem;
        height: 200px/2/$rem;
        margin-right: 18px/2/$rem;
        position: relative;

        div{
            text-align: center;
            padding-top: 22px/2/$rem;
            h3{
                font-size: 26px/2/$rem;
                line-height: 26px/2/$rem;
                color: #FFFFFF;
                margin-bottom: 10px/2/$rem;
            }
            p{
                font-size: 22px/2/$rem;
                line-height: 22px/2/$rem;
                color: #FFFFFF;
            }
        }
    }
    .twoRbStyle:nth-child(2){
        margin-right: 0;
    }
}
.container{
    overflow: scroll;
}
.tabExample{
    /*overflow: hidden;*/
    .am-tabs{
        position: relative;
        .am-tabs-bar {
            height: 96px/2/$rem;
            overflow: hidden;
            background-image: linear-gradient(-169deg, #2A2A2D 0%, #222225 100%);
            width: 100%;
            position: relative;
            .am-tabs-tab {
                font-size: 28px/2/$rem;
                background: none;
                height: 96px/2/$rem;
                border: none !important;
                .tabTitle{
                    color: #D1D1D1;
                    line-height: normal;
                    margin: 16px/2/$rem auto 0;
                    text-align: center;
                    font-weight: 300;
                    display: table;
                    position: relative;
                    span{
                        margin-right: 8px/2/$rem;
                        color: #2DAB53;
                        font-size: 20px/2/$rem;
                        position: absolute;
                        top: 10px/2/$rem;
                        left: -24px/2/$rem;
                    }
                    span.icon-index-realTimeData{
                        left: -20px/2/$rem;
                    }
                    span.icon-index-planData{
                        transform: scale(0.5);
                        left: -32px/2/$rem;
                    }
                    span.icon-index-reserveData{
                        transform: scale(0.7);
                    }
                    span.hidden{
                        visibility:hidden;
                    }
                    em.allOutOfStock{
                        display: block;
                        font-weight: 300;
                        position: absolute;
                        width: 56px/2/$rem;
                        height: 28px/2/$rem;
                        border-radius: 14px/2/$rem;
                        background: #C52626;
                        text-align: center;
                        line-height: 28px/2/$rem;
                        font-size: 18px/2/$rem;
                        color: #fff;
                        right: -28px/2/$rem;
                        top: -10px/2/$rem;
                    }
                    i.gayDingTag{
                        display: block;
                        font-weight: 300;
                        position: absolute;
                        height: 30px/2/$rem;
                        width: 80px/2/$rem;
                        line-height: 30px/2/$rem;
                        font-size: 17px/2/$rem;
                        padding: 0 6px/2/$rem;
                        text-align: center;
                        border-radius: 15px/2/$rem;
                        color: #fff;
                        background: #F86421;
                        font-style: normal;
                        top: -10px/2/$rem;
                        right: 0;
                        transform: translateX(80%);
                    }
                }
                .tabSubTitle{
                    color: #4E4E50;
                    font-size: 16px/2/$rem;
                    line-height:normal;
                    text-align: center;
                }
            }

            .am-tabs-tab-active {
                .tabTitle{
                    color: #fff;
                    font-weight: 400;
                }
                .tabSubTitle{
                    color: #7A7A7B;
                }
            }

            .am-tabs-ink-bar {
                background-color: #2DAB53;
                height: 1px;
                border-width: 0 50px/2/$rem 0 50px/2/$rem;
                border-color: #2A2A2D;
                box-sizing: border-box;
                border-style: solid;
            }
        }
    }
    .am-tabs-content {

    }
    .content{
        display: flex;
        min-height: 11rem;
        justify-content: flex-end;
        // -webkit-overflow-scrolling: touch;
        .reserveDataBox>div{
            padding-bottom: 150px/2/$rem;
        }
        .realTimeDataBox>div{
            padding-bottom: 150px/2/$rem;
        }
        .siderBox{
            background: #161618;
            height: 100%;
            overflow-y: scroll;
            position: absolute;
            left: 0;
            top: 96px/2/$rem;
            z-index: 8;
            -webkit-overflow-scrolling: touch;
            .pbBox{
                height: 300px/2/$rem;
            }
            .siBox{
                width: 140px/2/$rem;
                overflow: hidden;
                position: relative;
                padding: 38px/2/$rem 0;
                div{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 27px/2/$rem;
                    h3{
                        text-align: left;
                        font-size: 22px/2/$rem;
                        color: #AEAEAE;
                        font-weight: 300;
                    }
                    img{
                        display: block;
                        width: 28px/2/$rem;
                        height: 28px/2/$rem;
                        margin-right: 6px/2/$rem;
                    }
                }

                p{
                    font-size: 16px/2/$rem;
                    text-align: left;
                    margin-left: 27px/2/$rem;
                    color: #AEAEAE;
                    margin-top: 4px/2/$rem;
                }
                span{
                    display: inline-block;
                    width: 33px/2/$rem;
                    height: 24px/2/$rem;
                    background: #cd2222;
                    position: absolute;
                    font-size: 18px/2/$rem;
                    line-height: 24px/2/$rem;
                    color: #fff;
                    top: 13px/2/$rem;
                    right: 8px/2/$rem;
                    border-radius: 12px/2/$rem;
                    text-align: center;
                }
            }
            .cur{
                background: #1D1D20;
                p{
                    color: #fff;
                }
                div{
                    h3{
                        color: #fff;
                        font-weight: 400;
                    }
                }
            }
        }
        .padLeft{
            // padding-left: 151px/2/$rem !important;
        }
        .reserveDataBox{
            width: 610px/2/$rem !important;

        }
        .realTimeDataBox{
            width: 610px/2/$rem !important;
        }
        .planDataBox{
            width: 100%;
            padding-top: 20px/2/$rem;
            background: #161618;
        }
        .productListBox{
            // flex-grow: 1;

            padding-bottom: 100px/2/$rem;
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
            position: relative;
            .tipsBar{
                height: 70px/2/$rem;
                text-align: left;
                padding-left: 32px/2/$rem;
                line-height: 70px/2/$rem;
                color: #D1B36D;
                font-size: 24px/2/$rem;
                background: #0F0F11;
            }
            .productListTitle{
                display: flex;
                justify-content: flex-start;
                align-items:center;
                padding-left: 32px/2/$rem !important;
                height: 60px/2/$rem;
                background-image: linear-gradient(100deg, #1D1D20 15%, #0F0F11 100%);
                .dot{
                    width: 4px/2/$rem;
                    height: 4px/2/$rem;
                    background: #2DAB53;
                    margin-right: 9px/2/$rem;
                    border-radius: 50%;
                }
                p{
                    color: #fff;
                    font-size: 24px/2/$rem;
                    margin-right: 10px/2/$rem;
                }
                span{
                    color: #5E5E5E;
                    font-size: 18px/2/$rem;
                }
            }
            .planItemBox{}
            .planItemBox{
                width: 690px/2/$rem;
                margin: 0 auto 20px/2/$rem;
                position: relative;
                .planItemImage{
                    width: 690px/2/$rem;
                    height: 230px/2/$rem;
                    img{
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .productItemCenter{
                    width: 100%;
                    height: 130px/2/$rem;
                    background: #2a2a2c;
                    border-radius: 0 0 4px/2/$rem 4px/2/$rem;
                    .productName{
                        font-size: 30px/2/$rem;
                        color: #FFFFFF;
                        margin:0 0 12px/2/$rem 20px/2/$rem;
                        padding-top: 20px/2/$rem
                        ;
                    }
                    .productPrice{
                        font-size: 42px/2/$rem;
                        color: #FF3000;
                        margin-left: 20px/2/$rem;
                        i{
                            font-style: normal;
                            font-size: 24px/2/$rem !important;
                        }
                        s{
                            font-size: 28px/2/$rem;
                            color: #999999;
                            padding-left: 10px/2/$rem;
                        }
                        .vipPrice{
                            display: inline-block;
                            font-size: 20px/2/$rem;
                            color: #D1B36D;
                            padding: 2px/2/$rem 4px/2/$rem;
                            margin-left: 2px/2/$rem;
                            position: relative;
                            top: -2px/2/$rem;
                            line-height: 30px/2/$rem;
                            img{
                                width: 16px/2/$rem;
                                height: 16px/2/$rem;
                            }
                            background-image: linear-gradient(-180deg, #3a3a3a 0%, #1E1E1E 100%);
                            border-radius: 4px/2/$rem;
                        }
                    }
                }
                .reserveDataBtn{
                    width: 120px/2/$rem;
                    height: 48px/2/$rem;
                    background: #1C9B4D;
                    border-radius: 24px/2/$rem;
                    text-align: center;
                    color: #fff;
                    font-size: 24px/2/$rem;
                    line-height: 48px/2/$rem;
                    position: absolute;
                    right: 17px/2/$rem;
                    bottom: 40px/2/$rem;
                }
            }
            .productItem{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-image: linear-gradient(315deg, #0F0F11, #1D1D20 70%);
                position: relative;
                padding: 10px/2/$rem 0 10px/2/$rem 10px/2/$rem;
                .productItemLeft{
                    width: 226px/2/$rem;
                    height: 148px/2/$rem;
                    img{
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
                .productItemCenter{
                    flex-grow: 1;
                    text-align: left;
                    line-height: normal;
                    padding-top: 13px/2/$rem;
                    padding-bottom: 48px/2/$rem;
                    min-height: 87px/2/$rem;
                    align-self:flex-start;
                    position: relative;
                    .productName{
                        font-size: 28px/2/$rem;
                        color: #fff;
                        margin-bottom: 4px/2/$rem;
                        font-weight: 300;
                        line-height: 28px/2/$rem;
                    }
                    .productSubTitle{
                        font-size: 20px/2/$rem;
                        color: #6B6B6C;
                        line-height: 31px/2/$rem;
                        margin-bottom: 4px/2/$rem;
                    }
                    .productTagBox{
                        margin-bottom: 26px/2/$rem;
                        span{
                            display: inline-block;
                            @include retinab(#1C9B4D,2px);
                            color: #1C9B4D;
                            font-size: 18px/2/$rem;
                            line-height: 32px/2/$rem;
                            padding: 0 8px/2/$rem;
                            margin-right: 4px/2/$rem;
                        }
                        .recommendTag{
                            @include retinab(#CBAF6C,2px);
                            color: #CBAF6C;
                        }
                        .surplusTag{
                            @include retinab(#FF0000,2px);
                            color: #FF0000;
                        }
                        .greenTag{
                            @include retinab(#1c9b4d,2px);
                            color: #1c9b4d;
                        }
                        .saleTag{
                            @include retinab(rgba(0,0,0,0),2px);
                            color: #fff;
                            background-image: linear-gradient(90deg, #FF9735 0%, #FF5418 98%);
                            border-radius: 4px/2/$rem;
                        }
                        .newTag{
                            @include retinab($sagreen,6px);
                            color: #fff;
                            background: $sagreen;
                            border-radius: 4px/2/$rem;
                        }
                    }
                    .productPrice{
                        font-size: 24px/2/$rem;
                        color: #fff;
                        font-weight: 300;
                        line-height: 30px/2/$rem;
                        position: absolute;
                        left: 0;
                        bottom: 18px/2/$rem;
                        display: flex;
                        align-items: center;
                        i{
                            font-style: normal;
                        }
                        s{
                            color: #686868;
                            font-size: 20px/2/$rem;
                            margin-left: 10px/2/$rem;
                            vertical-align: bottom;
                        }
                        .vipPrice{
                            display: inline-block;
                            font-size: 20px/2/$rem;
                            color: #D1B36D;
                            padding: 0 4px/2/$rem;
                            margin-left: 2px/2/$rem;
                            img{
                                width: 16px/2/$rem;
                                height: 16px/2/$rem;
                            }
                            background-image: linear-gradient(-180deg, #3a3a3a 0%, #1E1E1E 100%);
                            border-radius: 4px/2/$rem;
                        }
                    }
                    .productPromotionInfo{
                        font-size: 20px/2/$rem;
                        color: #686868;
                        margin-top: 24px/2/$rem;
                    }
                }
                .productItemRight{
                    position: absolute;
                    padding: 24px/2/$rem 30px/2/$rem 24px/2/$rem 24px/2/$rem;
                    bottom: 0;
                    right: 0;
                    .productCount{
                        display: inline-block;
                        width: 50px/2/$rem;
                        text-align: center;
                        font-size: 32px/2/$rem;
                        color: #fff;
                    }
                    .icon-jian{
                        color: #1C9B4D;
                        font-size: 44px/2/$rem;
                    }
                    .icon-add{
                        color: #1C9B4D;
                        font-size: 44px/2/$rem;
                    }
                }
                .reserveDataBtn{
                    width: 120px/2/$rem;
                    height: 48px/2/$rem;
                    background: $sagreen;
                    border-radius: 24px/2/$rem;
                    text-align: center;
                    color: #fff;
                    font-size: 24px/2/$rem;
                    line-height: 48px/2/$rem;
                    position: absolute;
                    right: 30px/2/$rem;
                    bottom: 24px/2/$rem;
                }
                .tagsPic{
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 64px/2/$rem;
                    height: 64px/2/$rem;
                }
                .outOfStock{
                    color: #929292;
                    font-size: 26px/2/$rem;
                    position: absolute;
                    right: 30px/2/$rem;
                    bottom: 28px/2/$rem;
                }
            }
        }
        .planDataBox{
            .productItem{
                padding: 0;
                background-image: linear-gradient(315deg, #0F0F11, #1D1D20 70%);
                .productItemLeft{
                    width: 204px/2/$rem;
                    height: 204px/2/$rem;
                }
                .productItemCenter{
                    align-self:flex-start;
                    padding-top: 30px/2/$rem;
                    min-height: 107px/2/$rem;
                    padding-bottom: 31px/2/$rem;
                    position: relative;
                    .productName{
                        margin-bottom: 6px/2/$rem;
                    }
                    .productSubTitle{
                        font-size: 24px/2/$rem;
                        color: #7D7D7D;
                        line-height: 31px/2/$rem;

                    }
                    .productPrice{
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                    .productPromotionInfo{
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }
                .productSubTitle{
                    font-size: 24px/2/$rem;
                }
                .reserveDataBtn{
                    bottom: 34px/2/$rem;
                }
            }
        }
    }
}
//动画红点
.clickPointBox{
  position: fixed;
  z-index: 10001;
  left: -20px;
  bottom: -20px;
}

.clickPoint{
  background-color: #fc5c5c;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 100%;
  -moz-border-radius:  100%;
  border-radius: 100%;
  color: #ffffff;
  position: fixed;
}

.cartBarBox{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px/2/$rem;
    z-index: 2000;
    display: flex;
    background: rgba(31, 30, 32, 0.95);
    .tipsBar{
        height: 50px/2/$rem;
        width: 100%;
        position: absolute;
        left: 0;
        top: -50px/2/$rem;
        background: rgba(41, 41, 43, 1);
        p{
            text-align: center;
            line-height: 50px/2/$rem;
            font-size: 22px/2/$rem;
            color: #D2AF5C;
            font-weight: 300;
        }
    }
    .iconBox{
        position: relative;
        width: 138px/2/$rem;
        .totalCountBox{
            width: 42px/2/$rem;
            height: 28px/2/$rem;
            background: #C52626;
            color: #fff;
            font-size: 18px/2/$rem;
            text-align: center;
            line-height: 30px/2/$rem;
            border-radius: 14px/2/$rem;
            position: absolute;
            right: 4px/2/$rem;
            top: -14px/2/$rem;
            z-index: 3;
            p{
                position: relative;
                z-index: 10;
            }
        }
        .tops{
            transform: translateY(-6px);
            transition: transform .2s;
        }
    }
    .footerText{
        flex-grow: 1;
        text-align: left;
        align-items: center;
        .totalPrice{
            font-size: 36px/2/$rem;
            color: #FFFFFF;
            margin-top: 10px/2/$rem;
            line-height: 50px/2/$rem;
            font-weight: 300;
        }
        .pf{
            font-size: 18px/2/$rem;
            color: #4e4e50;;
        }
        .kong{
            font-size: 28px/2/$rem;
            line-height: 40px/2/$rem;
            color: #929292;
            margin-top: 28px/2/$rem;
        }
    }
    .giftBtn{
        width: 180px/2/$rem;
        height: 78px/2/$rem;
        text-align: center;
        line-height: 78px/2/$rem;
        font-size: 32px/2/$rem;
        color: #7A7A7A;
        background: #313131;
        border-radius: 4px/2/$rem;
        margin-top: 10px/2/$rem;
    }
    .activeGiftBtn{
        width: 180px/2/$rem;
        height: 78px/2/$rem;
        text-align: center;
        line-height: 78px/2/$rem;
        font-size: 32px/2/$rem;
        background: #ff7f88;
        color: #ffecc7;
        border-radius: 4px/2/$rem;
        margin-top: 10px/2/$rem;
        position: relative;
        img{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 34px/2/$rem;
            height: 38px/2/$rem;
        }
    }
    .buyBtn{
        width: 180px/2/$rem;
        height: 78px/2/$rem;
        text-align: center;
        line-height: 78px/2/$rem;
        background: #383838;
        color: #929292;
        font-size: 32px/2/$rem;
        margin: 10px/2/$rem;
        border-radius: 4px/2/$rem;
    }
    .activeBtn{
        background: #1C9B4D;
        color: #fff;
    }
}

.my-drawer {
  .am-list{
      max-height: 405px;
      /*overflow: scroll;*/
  }
  .am-list-body{
      padding-bottom: 80px;
  }
  .am-drawer-sidebar{
      z-index: 19;
      padding-bottom: 100px/2/$rem;
      .cartTop{
          display: flex;
          justify-content:space-between;
          align-items:center;
          height: 80px/2/$rem;
          background: #FBFBFB;
          color: #666666;
          font-size: 28px/2/$rem;
          .cartTitle{
              margin-left: 30px/2/$rem;
              border-left: 1px solid #58B458;
              padding-left: 10px/2/$rem;
          }
          .clearCart{
              margin-right: 30px/2/$rem;
              .icon-index-del{
                  color: #B1B1B1;
                  font-size: 24px/2/$rem;
                  margin-right: 12px/2/$rem;
                  position: relative;
                  top: -2px/2/$rem;
              }
          }

      }
      .cartList{
          background: #fff;
          padding-left: 30px/2/$rem;
          max-height: 700px/2/$rem;
          overflow: scroll;
          li{
              display: flex;
              justify-content:space-between;
              align-items:center;
              height: 100px/2/$rem;
              @include retinabb(#E7E7E7);
              box-sizing: border-box;
              position: relative;

              .productName{
                  font-size: 28px/2/$rem;
                  color: #111111;
                  width: 408px/2/$rem;
                  font-weight: 300;
              }
              .productPrice{
                  flex-grow:1;
                   color: #111111;
                   font-size: 30px/2/$rem;
                   font-weight: 300;

              }
              .productItemRight{
                  margin-right: 30px/2/$rem;
                  font-size: 44px/2/$rem;
                  .icon-jian{
                      color: #1C9B4D;
                  }
                  .skuCount{
                      display: inline-block;
                      width: 60px/2/$rem;
                      text-align: center;
                      color: #111111;
                      font-size: 32px/2/$rem;
                  }
                  .icon-add{
                      color: #1C9B4D;
                  }
              }
          }
      }
  }
  .am-drawer-overlay{
      z-index: 18;
  }
  .am-drawer-content{
      padding-top: 0 !important;
      -webkit-overflow-scrolling: touch;
  }
  .am-drawer-draghandle{
      display: none !important;
  }
}

.mark{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99;
}
#cartListBox{
    animation-duration : .3s ;
}
.cartListBox {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 75px/2/$rem;
    z-index: 100;
    .cartTop{
        display: flex;
        justify-content:space-between;
        align-items:center;
        height: 80px/2/$rem;
        background: #FBFBFB;
        color: #666666;
        font-size: 28px/2/$rem;
        .cartTitle{
            margin-left: 30px/2/$rem;
            border-left: 1px solid #58B458;
            padding-left: 10px/2/$rem;
        }
        .clearCart{
            margin-right: 30px/2/$rem;
            .icon-index-del{
                color: #B1B1B1;
                font-size: 24px/2/$rem;
                margin-right: 12px/2/$rem;
                position: relative;
                top: -2px/2/$rem;
            }
        }

    }
    .cartList {
        background: #fff;
        padding-left: 30px/2/$rem;
        max-height: 700px/2/$rem;
        overflow: scroll;
          padding-bottom: 75px/2/$rem;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px/2/$rem;
            @include retinabb(#E7E7E7);
            box-sizing: border-box;
            position: relative;

            .productName {
                font-size: 28px/2/$rem;
                color: #111111;
                font-weight: 300;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                width: 250px/2/$rem;
            }

            .productPrice {
                flex-grow: 1;
                color: #111111;
                font-size: 30px/2/$rem;
                font-weight: 300;
                display: flex;
                justify-content: flex-end;
                span{
                    background-image: linear-gradient(-180deg, #5E5E5E 0%, #1E1E1E 100%);
                    border-radius: 4px/2/$rem;
                    font-size: 20px/2/$rem;
                    color: #D1B36D;
                    padding: 0 4px/2/$rem;
                    margin-left: 4px/2/$rem;
                    margin-right: 20px/2/$rem;
                    line-height: 30px/2/$rem;
                    img{
                        width: 16px/2/$rem;
                        height: 16px/2/$rem;
                    }
                }
            }

            .productItemRight {
                margin-right: 30px/2/$rem;
                font-size: 44px/2/$rem;

                .icon-jian {
                    color: #1C9B4D;
                }

                .skuCount {
                    display: inline-block;
                    width: 60px/2/$rem;
                    text-align: center;
                    color: #111111;
                    font-size: 32px/2/$rem;
                }

                .icon-add {
                    color: #1C9B4D;
                }
            }
        }
    }
}


#tags { transform-style: preserve-3d; width: 97px/2/$rem; height: 94px/2/$rem;position: absolute; left: 27px/2/$rem; bottom: 50px/2/$rem;z-index: 2;}
#tags span {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: all .3s;
}

#tags span:after ,
#tags span:before {
    content: ''; position: absolute;
    background-repeat: no-repeat; background-position: center; background-size: cover;
}

#tags span:after {
    left: 50%;
    transform: translateX(-50%);
    transition: transform .2s;
}

#tags span:before {
    z-index: 2;
    top: 78px/2/$rem;
    left: 50%;
    transform: translateX(-50%);
    transition: transform .2s;
}

#tags span:nth-child(1):before {
    width: 97px/2/$rem;
    height: 54px/2/$rem;
    background-image: url('https://resource.sa-green.cn/images/base/%E5%AE%9E%E6%97%B6%E7%9B%92%E5%AD%90.png');
}

#tags span:nth-child(1):after {
    width: 99px/2/$rem;
    height: 139px/2/$rem;
    background-image: url('https://resource.sa-green.cn/images/base/%E7%86%8A%E4%B8%81%E4%B8%81%E5%AE%9A2-3.png');
}

#tags span:nth-child(2):before {
    width: 97px/2/$rem;
    height: 54px/2/$rem;
    background-image: url('https://resource.sa-green.cn/images/base/%E9%A2%84%E8%AE%A2%E7%9B%92%E5%AD%90.png');
}

#tags span:nth-child(2):after {
    width: 99px/2/$rem;
    height: 139px/2/$rem;
    background-image: url('https://resource.sa-green.cn/images/base/%E7%86%8A%E4%B8%81%E4%B8%81%E5%AE%9A2-3.png');
}

#tags span:nth-child(2) {
    transform: rotateY(180deg); opacity: 0;
}

#tags.active span:nth-child(1) { transform: rotateY(180deg); opacity: 0; }
#tags.active span:nth-child(2) { transform: rotateY(0deg); opacity: 1; }

#tags.top span:after { transform: translate(-50%,-6px); }
