//rem
@import "./rem";

//iconfont
@font-face {font-family: 'iconfont';
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{font-family:"iconfont";font-size:16px;font-style:normal;}

[class^="icon-"],
[class*=" icon-"],
[class*=" icona-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  /*font-family: 'icomoon' !important;*/
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-site:before {
  content: "\e614";
}
.icon-phone:before {
  content: "\e603";
}
.icon-shopping:before {
  content: "\e613";
}
.icon-service:before {
  content: "\e612";
}
.icon-sale:before {
  content: "\e611";
}
.icon-salads:before {
  content: "\e610";
}
.icon-person:before {
  content: "\e608";
}
.icon-list:before {
  content: "\e605";
}
.icon-edit:before {
  content: "\e601";
}
.icon-del:before {
  content: "\e602";
}
.icon-down:before {
  content: "\e615";
}
.icon-down-blod:before {
  content: "\e672";
}
.icon-balance:before {
  content: "\e616";
}
.icon-invite:before {
  content: "\e617";
}
.icon-avocado:before {
  content: "\e618";
}
.icon-detail:before {
  content: "\e620";
}
.icona-money:before {
  content: "\e607";
}
.icona-right:before {
  content: "\e609";
}
.icona-choose:before {
  content: "\e604";
}
.icon-choose:before {
  content: "\e604";
}
.icon-time:before {
  content: "\e621";
}
.icon-close:before {
  content: "\e622";
}
.icon-arrow:before {
  content: "\e623";
}
.icon-privilege:before {
  content: "\e624";
}
.icon-service:before {
  content: "\e625";
}
.icon-coin:before {
  content: "\e626";
}
.icon-position:before {
  content: "\e636";
}
.icon-question:before {
  content: "\e640";
}
.icon-reload:before {
  content: "\e639";
}
.icon-search:before {
  content: "\e641";
}
.icon-complete:before {
  content: "\e643";
}

.icon-sun:before {
  content: "\e644";
}
.icon-down-fill:before {
  content: "\e645";
}
.icon-right:before {
  content: "\e647";
}

.icon-add:before {
  content: "\e657";
}
.icon-address:before{
    content: "\e657" !important;
}


//套餐小图标
.icon-gi:before {
  content: "\e648";
}
.icon-jydb:before {
  content: "\e649";
}
.icon-xys:before {
  content: "\e650";
}
.icon-ssxw:before {
  content: "\e651";
}
.icon-tys:before {
  content: "\e652";
}
.icon-wss:before {
  content: "\e653";
}
.icon-vc:before {
  content: "\e654";
}
.icon-ysy:before {
  content: "\e655";
}
.icon-zyj:before {
  content: "\e656";
}

.icon-bbhzfs:before {
  content: "\e658";
}
.icon-bxzfs:before {
  content: "\e659";
}
.icon-vssp:before {
  content: "\e660";
}
.icon-night:before {
  content: "\e665";
}
.icon-tel:before {
  content: "\e666";
}
.icon-apply:before {
  content: "\e667";
}
.icon-thunder:before{
    content: "\e663";
}
.icon-right-blod:before{
    content: "\e668";
}
.icon-add:before{
    content: "\e669";
}
.icon-jian:before{
    content: "\e670";
}
.icon-title:before{
    content: "\e662";
}
.icon-home:before{
    content: "\e627";
}
.icon-home-fill:before{
    content: "\e628";
}
.icon-cart:before {
  content: "\e637";
}
.icon-cart-fill:before {
  content: "\e638";
}
.icon-order:before{
    content: "\e629";
}
.icon-order-fill:before{
    content: "\e630";
}
.icon-user:before{
    content: "\e633";
}
.icon-user-fill:before{
    content: "\e634";
}
.icon-coupon:before{
    content: "\e619";
}
.icon-gift:before{
    content: "\e671";
}
.icon-top:before{
    content: "\e673";
}
.icon-horn:before{
    content: "\e642";
}

.icon-index-user:before{
    content: "\e677";
}
.icon-index-reserveData:before{
    content: "\e678";
}
.icon-index-realTimeData:before{
    content: "\e679";
}
.icon-index-planData:before{
    content: "\e675";
}
.icon-index-position:before{
    content: "\e674";
}
.icon-index-dow:before{
    content: "\e676";
}
.icon-index-del:before{
    content: "\e680";
}
.icon-yue:before{
    content: "\e686";
}
.icon-pay:before{
    content: "\e685";
}
.icon-del-jian:before{
    content: "\e682";
}
.icon-ice-add:before{
    content: "\e683";
}
.icon-ice-jian:before{
    content: "\e684";
}
.icon-replay:before{
    content: "\e681";
}
.icon-assets:before{
    content: "\e687";
}
.icon-eye:before{
    content: "\e688";
}
.icon-sexy:before{
    content: "\e689";
}
.icon-power-a:before{
    content: "\e690";
}
.icon-power-b:before{
    content: "\e691";
}
.icons {
  display: inline-block;
}
.icon-circle-button {
  user-select: none;
  -webkit-user-select: none;
  background-color: #3B9C05;
  width: 30px/$rem;
  height: 30px/$rem;
  -webkit-border-radius: 30px/$rem;
  -moz-border-radius:30px/$rem;
  border-radius: 30px/$rem;
  flex: 0 0 auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/

  /*width: 2.4rem;*/
  /*height: 2.4rem;*/
  /*-webkit-border-radius: 1.2rem;*/
  /*-moz-border-radius: 1.2rem;*/
  /*border-radius: 1.2rem;*/
  position: relative;
}
.icon-circle-button-reverse {
  background-color: #ffffff;
  /*border: @color-3B9C05 unit(2/@baseRemSize, rem) solid;*/
  border: #3B9C05 1px solid;
  box-sizing: border-box;
}
.icon-line-horizon,
.icon-line-vertical {
  position: absolute;
  left: 8px/$rem;
  top: 14px/$rem;
  /*left: 0.7rem;*/
  /*top: 1.1rem;*/
  font-size: 0;
  line-height: 0;
  height: 1px/$rem;
  width: 14px/$rem;
  /*
  width: 1rem;
  */
  color: #3B9C05;
  background-color: #ffffff;
}
.icon-line-vertical {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.icon-circle-button-reverse .icon-line-horizon{
  left: 7px/$rem;
  top:14px/$rem;
}
.icon-circle-button-reverse .icon-line-vertical{
  top: 14px/$rem;
  left: 8px/$rem;
}

.icon-circle-button-reverse .icon-line-horizon,
.icon-circle-button-reverse .icon-line-vertical {
  background-color: #3B9C05;
}
.icon-coupon-empty {
  background-image: url('http://resource.sa-green.cn/images/base/coupon_empty.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;

}
.icon-cart-empty{
    background-image: url('https://resource.sa-green.cn/images/base/cart_empty.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
}
.icon-order-empty {
  background-image: url('https://resource.sa-green.cn/images/base/order_empty.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.icon-address-empty {
    background-image: url('https://resource.sa-green.cn/images/base/address_empty.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    width: 264px/2/$rem;
    height: 264px/2/$rem;
}
